<h1>Create account</h1>

<form action='/register' method='POST'>
    <input type="text" name='username', placeholder='enter username'>
    <input type='password' name='password' placeholder='enter passwrod'>
    <button>Submit</button>
</form>

<p>
  <a href="/register">Sign up</a>  
</p>
<p>
<a href="/login">Login</a>
</p>
<p>
    <a href="/logout">Logout</a>
    </p>