<h1>Friend list goes here</h1>

<% friends.forEach(function(friend){ %>
  <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input type="text" name="friends" placeholder="enter name">
    <button>submit</button>
    
</form>