<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Hashmat Camp</h1>
            <p>View our hand-picked campground from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campground/new">Add New Camping</a>
            </p>
        </div>
    </header>
</div>

<div class="row">

    <% camp.forEach(function(camp){ %>
    
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
        <img src="<%= camp.image %>">
        
            <div class="caption">
            <%= camp.name %>
          </div>
        </div>
    </div>
    <% }); %>

</div>


<% include partials/footer %>